#banner{
  background-color: #666666;
  background-image: url("../images/banner-tablet.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 14em 0;
  text-align: center;
  position: relative;
}
